* {
    font-family: 'Rotis Sans Serif';
    font-size: 17px;
}

.pregnancyWeek {
    font-size: 55px;
    color: deepskyblue;
    font-weight: bold;
    margin-top: -25px;
    margin-bottom: -15px;
}

.daysLeft {
    font-size: 22px;
}

#errorMsg {
    color: red;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
    display: none;
}

#calculatedStuff {
    display: none;
}

.examDescription {
    margin: 10px;
    font-size: 15px;
}

.examDescription i {
    margin-right: 10px;
}

.bold {
    font-weight: bold;
}

/* .fixed-row-bottom { 
    position: fixed;
    bottom: 0;
} */